<table>
  <% @users.each do |user| %>
    <tr>
      <td> Name: <%= user.name %> </td>
      <td> Bio: <%= user.bio %></td>
      <td> Avatar: <img src="<%= user.avatar %>" alt="" /></td>
      <td>Comments:
        <% comment_array = [] %>
        <% @comments.each do |comment| %>
          <% if comment.user_id == user.id %>
          <%  comment_array << comment.body %>
          <% end %>
        <% end %>
        <li><%= comment_array.count %></li>
    </td>
    <% friend_array = [] %>
    <% @friends.each do |friend| %>
      <% if friend.user_id == user.id %>
        <% friend_array << @friend_id %>
      <% end %>
    <% end %>
      <td> Friends:
      <li>
        <%= friend_array.count %>
      </li>
    </td>
    </tr>
  <% end %>
</table>
