<table>
  <% @users.each do |user| %>
    <tr>
      <td> Name: <%= user.name %> </td>
      <td> Bio: <%= user.bio %></td>
      <td> Avatar: <img src="<%= user.avatar %>" alt="" /></td>
      <td>Comments:
        <% comment_array = [] %>
        <% @comments.each do |comment| %>
          <% if comment.user_id == user.id %>
          <%  comment_array << comment.body %>

          <% end %>
        <% end %>
        <li><%= comment_array.count %></li>
    </td>
    <% @friends.each do |friend| %>
      <% if friend.user_id == user.id %>
          <% @friend_id = friend.friend_id %>
          <% @fri_array = [] %>
          <% @fri_array << User.find(@friend_id).name%>
      <% end %>
  <% end %>
      <td> Friends:
      <li>
      <% if @fri_array == nil %>
        <%= 0 %>
      <% else %>
        <%= @fri_array.count %>
      <% end %>
      </li>
    </td>
    </tr>
  <% end %>
</table>
